#index__mainContainer{
    background-color: rgb(69, 169, 199);
    color: white;
}


#resguardos{
	border: 1px solid #000000;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 8%;
	display: flex;
	flex-direction: column;
}
.fila{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.cajon{
	margin: 2%;	
	border: 1px solid black;
	text-align: center;
	width: 100%;
	padding: 1%;
}
.cajon img{
	width: 50%;
	margin-bottom: 5px;
	background-color: rgb(63, 218, 63);
}



#autoComplete_list {
    z-index: 1;
    padding: 0;
    margin-top: 0;
    width: 100%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all -webkit-transform 0.1s ease;
  }
  #autoComplete_list1 {
    z-index: 1;
    padding: 0;
    margin-top: 0;
    width: 100%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all -webkit-transform 0.1s ease;
  }
  
  .autoComplete_result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0.15rem auto;
    padding: 0.3rem;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
  }
  
  .autoComplete_result::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#228ac72a, 0);
  }
  
  .autoComplete_result:last-child {
    border-radius: 0 0 1rem 1rem;
  }
  
  .autoComplete_result:hover {
    cursor: pointer;
    background-color: #228ac72a;
    border-left: 2px solid #228bc7;
    border-right: 2px solid #228bc7;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  
  .autoComplete_result:focus {
    outline: none;
    background-color: #228ac72a;
    border-left: 2px solid #228bc7;
    border-right: 2px solid #228bc7;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  
  .autoComplete_highlighted {
    opacity: 1;
    color: #228bc7;
    font-weight: bold;
  }
  
  .autoComplete_highlighted::selection {
    color: rgba(#ffffff, 0);
    background-color: rgba(#ffffff, 0);
  }
  
  .autoComplete_selected {
    cursor: pointer;
    background-color: #228ac72a;
    border-left: 2px solid #228bc7;
    border-right: 2px solid #228bc7;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .no_result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.3rem;
    border: 0.05rem solid #e3e3e3bd;
    list-style: none;
    text-align: left;
    font-size: 1rem;
    color: #228bc7;
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border: 1px solid #228ac79c;
    border-radius: 0 0 1rem 1rem;
    outline: none;
  }
  
  .no_result:hover {
    cursor: default;
    background-color: #228ac72a;
    border: 0.05rem solid #e3e3e3;
  }
  
  .no_result:focus {
    cursor: default;
    background-color: #228ac72a;
    border: 0.05rem solid #e3e3e3;
  }